<div class="box-two">
    <div class="content">
        <div class="content-box">
            <li class="layim-chat-your clearbox">
                <div class="layim-chat-user">
                    犯得上发生范德萨{$fromid}
                </div>
            </li>
            <li class="layim-chat-mine clearbox">
                <div class="layim-chat-user">
                    范德萨富士达法师打
                </div>
            </li>
            <li class="layim-chat-your clearbox">
                <div class="layim-chat-user">
                    犯得上发生范德萨
                </div>
            </li>
            <li class="layim-chat-mine clearbox">
                <div class="layim-chat-user">
                    范德萨富士达法师打
                </div>
            </li>
            <li class="layim-chat-your clearbox">
                <div class="layim-chat-user">
                    犯得上发生范德萨
                </div>
            </li>
            <li class="layim-chat-mine clearbox">
                <div class="layim-chat-user">
                    范德萨富士达法师打
                </div>
            </li>
            <li class="layim-chat-your clearbox">
                <div class="layim-chat-user">
                    犯得上发生范德萨
                </div>
            </li>
            <li class="layim-chat-mine clearbox">
                <div class="layim-chat-user">
                    范德萨富士达法师打
                </div>
            </li>
            <li class="layim-chat-your clearbox">
                <div class="layim-chat-user">
                    犯得上发生范德萨
                </div>
            </li>
            <li class="layim-chat-mine clearbox">
                <div class="layim-chat-user">
                    范德萨富士达法师打
                </div>
            </li>
            <li class="layim-chat-your clearbox">
                <div class="layim-chat-user">
                    犯得上发生范德萨
                </div>
            </li>
            <li class="layim-chat-mine clearbox">
                <div class="layim-chat-user">
                    范德萨富士达法师打
                </div>
            </li>
        </div>
    </div>
    <div class="foot">
        <div class="foot-one clearbox">
            <div class="ft-left">
                <span class="le-ty">表情</span>
                <span class="le-ty">图片</span>
            </div>
            <div class="ft-right">
                <span class="le-ly">消息记录</span>
            </div>
        </div>
        <div class="foot-two">
            <textarea class="layim-textarea"></textarea>
        </div>
        <div class="foot-three">
            <div class="foot-send">
                <button class="Send">发送</button>
            </div>
        </div>
    </div>
</div>